{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="mt-3">Reset Your Password</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Enter your <strong>Registered</strong> email address, and we'll send you a link to reset your password.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block css_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/password_reset.css' %}">
{% endblock css_styles %}
