{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Add the 'form-light' or 'form-dark' class dynamically via body classes -->
            <form method="POST" id="registration-form" class="shadow p-4 rounded">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Your Profile</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" title="Register">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}