<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center">
    <!-- Social Media Links -->
    <p>Follow Me On</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/om-yeole" target="_blank" class="social-icon" title="Linkedin"><i
                class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Om-S-Yeole" target="_blank" class="social-icon" title="GitHub"><i
                class="fab fa-github"></i></a>
    </div>
    <div class="container text-center mt-2">
        <p class="mb-2">
            <a href="{% url 'terms-and-conditions' %}" style="text-decoration: None;">Terms and Conditions</a> | 
            <a href="{% url 'privacy-policy' %}" style="text-decoration: None;">Privacy Policy</a>
        </p>
        <small>&copy; {{ year }} Website by Om Yeole. All Rights Reserved.</small>
    </div>
</footer>