{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'blog-home' %}" title="Om Yeole">
            <img loading="lazy" src="{% static 'blog/images/logo.png'%}" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top me-2">
            <span>Om Yeole</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'blog-home' %}" title="Home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/#recent" title="Recent">Recent</a></li>
                <li class="nav-item"><a class="nav-link" href="/#featured" title="Featured">Featured</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'all_posts' %}" title="All Posts">All Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about-me' %}" title="About Me">About Me</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact-us' %}" title="Contact Us">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}" title="Profile">Profile</a></li>
                    {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="/admin/" title="Admin">Admin</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'new-post' %}" title="New Post">New Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'new-category' %}" title="New Post">New Category</a></li>
                    {% endif %}
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <li class="nav-item"><button class="nav-link" type='submit' title="Logout">Logout</button></li>
                    </form>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" title="Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}" title="Register">Register</a></li>
                {% endif %}
            </ul>
            <!-- Theme Toggle Icon -->
            <i id="modeToggle" class="fas fa-moon ms-3 theme-icon" title="Theme"></i>
        </div>
    </div>
</nav>