{% comment %} list of variables => section_id, section_class, section_title {% endcomment %}

<section id="{{ section_id }}" class="py-5 {{ section_class }}">
    <div class="container">
        <h2 class="mb-4">{{ section_title }}</h2>
        <div class="row g-4">
            {% if section_id == 'featured' %}
                {% for post in featured_posts %}
                    {% include 'blog/card.html'%}
                {% endfor %}
            {% else %}
                {% if posts %}
                    {% for post in posts %}
                        {% include 'blog/card.html'%}
                    {% endfor %}
                {% else %}
                    <p class="">No posts found for the selected categories. Try changing the filters.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>